body{
    overflow:hidden;
    user-select: none;
}

#canvas-mainboard {
    position: relative;
}

#canvas-draft, 
#canvas-real {
    cursor: crosshair;
    border:1px black dotted;
    position: absolute;
    left: 200px;
}

#canvas-draft{
    background-color: transparent;
}


/*---Navbar---*/
.navbar {
    background: linear-gradient(45deg, #adadad, #4c4944);
    position: relative;
    display: flex;
    flex-wrap: nowrap !important;
    z-index: 20;
}

.navbar-brand > img {
    height: 60px;
    width: 60px;
}
.color_picker.btn {
    padding: 6px 12px 6px 12px;
}
/*--Color Picker Button--*/
.color_picker {
    background: transparent !important;
    height: 60px;
    width: 60px; 
    margin-bottom: 2px;
    margin-right: 2px;
}

.color-button {
    margin-bottom: 0px;
    text-align: center;
    color: #ffffff;
}



/*---Toolbar---*/
.wrapper {
    position: relative;
    margin-top: 0;
    min-width: 200px;
    max-width: 200px;
    height: calc(150vh - 200px);
    background: linear-gradient(150deg, #adadad, #4c4944);
}

#sidebar {
    display: grid;
    padding-top: 50px;
    grid-template-columns: 70px 70px;
    grid-template-rows: 70px 70px 70px 70px;
    justify-content: center;
}

#sidebar-2 {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 140px;
    grid-template-rows: 50px 50px 50px;
    justify-content: center;
}

#rect-img {
    height: 30px;
    width: 40px;
}

#sidebar > button {
    background-color: #f7da35;
    border-radius: 70% !important;
    height: 70px;
    width: 70px;
}

button > i {
    font-size: 30px;
}

#sidebar-2 > button {
    background: #616161;
    border-radius: 5px !important;
}
#undo #redo {
    color: grey;
}

#clear-canvas {
    color: white;
}